.chart_area{
    margin: 60px 0px 0px 0px
}
.chart{
    display: flex;
    justify-content: center;
    margin: 0px 0px 0px 50px;
}
.second_chart{
    margin: -25px 0px 0px 0px;
}

h3{
    margin: 0px 0px 10px 160px;
    font-weight: 500;
    
}


@media screen and (max-width: 1199px) {
}
@media screen and (max-width: 991px) {
    .chart{
        display: block;
    }
    h3 {
        margin: 40px 0px 0px 190px;
        font-weight: 500;
    }
}
@media screen and (max-width: 767px) {
    
}
@media screen and (max-width: 576px) {
}
