.reviews{
    display: grid;
    grid-template-columns: repeat(2,0fr);
    justify-content: center;
    gap: 20px;
}

.review_headding{
    text-align: center;
}


@media screen and (max-width: 1199px) {
}
@media screen and (max-width: 991px) {
    .reviews_area{
        display: grid;
        grid-template-columns: repeat(2,0fr);
        justify-content: center;
        gap: 20px;
    }
    
}
@media screen and (max-width: 767px) {
    .reviews_area{
        display: grid;
        grid-template-columns: repeat(2,0fr);
        justify-content: center;
        gap: 20px;
    }
    .reviews{
        display: grid;
        grid-template-columns:auto;
    }
}
@media screen and (max-width: 576px) {
}
